<h1>Welcome to MyFit</h1>
<div>
  <h3>Gender: 
    <input type="radio" name="gender" value="man" [(ngModel)]="gender">Man
    <input type="radio" name="gender" value="woman" [(ngModel)]="gender"> Woman
  </h3>
  <h3>Age: <input type="text" [(ngModel)]="age"> </h3>
  <h3>Weight (kg): <input type="text" [(ngModel)]="weight"> </h3>
  <h3>Height (cm): <input type="text" [(ngModel)]="height"> </h3>
  <button (click) = "BMICalculate()">Calculate</button>
  <h3>Your BMI is <label>{{bmi}}</label></h3>
  <button (click)="BMRCaculate()">Calculate BMR</button>
  <h3>Your BMR is: <label>{{bmr}}</label> </h3>
</div>