/* You can add global styles to this file, and also import other style files */

/* Define color variables */
:root {
    --caribbean-current: #006d77ff; 
    --tiffany-blue: #83c5beff;
    --alice-blue: #edf6f9ff;
    --pale-dogwood: #ffddd2ff;
    --atomic-tangerine: #e29578ff;
  }

.body {
    font-family: Arial, sans-serif;
    background-color: var(--alice-blue);
    color: var(--caribbean-current);
    margin: 0;
    padding: 20px;
  }
  
  /* Style for the main header */
  h1 {
    text-align: center;
    color: var(--caribbean-current);
    background-color: var(--tiffany-blue);
    padding: 10px;
    border-radius: 8px;
  }
  
  /* Style for the container */
  .container {
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--pale-dogwood);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2{
    color: var(--caribbean-current);
    text-align: center;
  }

  /* Styling for subheaders and inputs */
  h3 {
    color: var(--caribbean-current);
  
  }

  /* Input fields to be horizontally aligned */
  input[type="text"] {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
    width: 20%; /* Set width to 45% for horizontal alignment */
    margin-left: 10px;
  }

  input[type="text"], input[type="radio"] {
    margin-left: 10px;
  }
  
  /* Style for the button */
  button {
    background-color: var(--atomic-tangerine);
    color: var(--caribbean-current);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }
  
  button:hover {
    font-size: 20px;
  }
  
  /* Style for the result labels */
  label {
    font-weight: bold;
    color: var(--tiffany-blue);
  }